<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF8" http-equiv="'Content-Type" />
	<title></title>
</head>
	<body>
		<h1>Hey, </h1>

		<p> Welcome to <%= image_tag 'vimlogo.png', class: "modallogo" %> </p>

		<p> To get on this vimmm train, follow this link: <%= url %> </p>

	</body>
</html>