<!-- My nav bar, with logo and sign up and login buttons -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
            <%= image_tag 'vimlogo.png', class: "logo" %>
				<button type="button" class="btn btn-default navbar-btn">Login</button>
				<button type="button" class="btn btn-default navbar-btn">Signup</button>
    </div> 
  </div>
</nav>

<!-- This is my side bar nav, this will be turned into a partial later on -->
<div class="container-fluid main">
	<div class="row">
		<div class="col-md-4" id="sidenav-bar">
			<div class="list-group">
				  <a href="#" class="list-group-item">Home</a>
				  <a href="#" class="list-group-item">Marketplace</a>
				  <a href="#" class="list-group-item">About Vim</a>
				  <a href="#" class="list-group-item">Contact Us</a>
				  <a href="#" class="list-group-item">Become A Trainer</a>
			</div>
		</div>
		<div class="container-fluid" id="slidescreen">
			<div class="col-md-8">
				<div class="jumbotron">
	  				<h1>Welcome to Vim!</h1>
	  				<p>...</p>
	  				<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
				</div>
			</div>
	</div>
</div>