<div class="col-md-8">
	<h1> Hello, name is <%= @user.name %> </h1>
	<p><%= number_to_currency @user.price %></p>
</div>



<%= link_to "Edit", edit_user_path(@user) %>
<% if @user == current_user %>
<%= link_to "Delete", @user, method: :delete, data: {confirm: "You sure bro?"} %>
<% end %>


