// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	color: #EE302F;
	background-color: white;
	border: 1px solid #8C8E90;
}
