// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
	height: 100px;
	background-color: white;
	border-bottom-style: 1px solid #8C8E90;

#signed-in-as {
	margin-right: 10px;
	margin-top: 16px;
	color: black;
}

}
.logo {
	height: 90px;
	padding-top: 0px;
}
.main{
	position: relative;
	top: 120px;
}

.list-group {
	color: #EE302F;
}

.list-group-item {
	height: 80px !important;
	text-align: center;
	color: #EE302F !important;
	font-size: 20px;
	font-family: 'Enriqueta', serif;
	border-right-style: 10px solid #8C8E90 !important;
}

.slidescreen {
	padding-right: 200px;
}

.modallogo {
	height: 40px;
}

#myModalLabel {
	text-align: center;
}

#signin-login {
	// float: right !important;
	margin: 6px;
	margin-top: 15px;
}

.jumbotron {
	background-image: url"(/app/assets/images/Jumbotron.png";
}

td {
	font-size: 20px;
}